.settings {
  padding: 11px;
  width: 100%;
  border-bottom: 1px solid #272727;
  padding-bottom: 12px;
  .rows {
    margin-right: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style-type: none; //to remove the bullet points of each list
  }
  .rows:hover {
    cursor: pointer;
    background-color: #272727;
    border-radius: 10px;
  }
  .texts {
    font-size: 14px;
    color: white;
    text-decoration: none;
  }
  .side-icons {
    flex: 35%;
    place-items: center;
    display: grid; //this makes me have control of the grid within each row.
    color: white;
    font-size: 23px;
  }
  .texts {
    flex: 70%;
  }
}
